body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.logo span { 
    font-size: 24px;
    font-weight: bold;
    color: #aaaa;
}

.nav-links { 
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a { 
    text-decoration: none;
    color: #aaaa;
    font-weight: 500;
}


.btn-create-account { 
    background-color: #6C63FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s
}

.btn-create-account:hover{
    background-color: #5a52e0;
}