body { 
    margin: 0;
    background-color: #f0f0f0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1,);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;    
    border-radius: 15px;
}

.overlay { 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5,);
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.overlay h2{
    margin: 0;
    font-size: 24px;
}

.overlay p { 
    margin: 5px 0 0;
    font-size: 15px;
}